    @import "tailwindcss";

    


    /* First row: Right → Left */
    @keyframes scrollLeft {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-50%);
      }
    }


    /* Second row: Left → Right */
    @keyframes scrollRight {
      from {
        transform: translateX(-50%);
      }

      to {
        transform: translateX(0);
      }
    }


    /* Apply animations */

    .animate-scroll-left {
      width: max-content;
      animation: scrollLeft 10s linear infinite;
    }


    .animate-scroll-right {
      width: max-content;
      animation: scrollRight 10s linear infinite;
    }


    /* Pause when mouse is over cards */

    .animate-scroll-left:hover,
    .animate-scroll-right:hover {
      animation-play-state: paused;
    }